<h1>School Class Form</h1>

<%=form_tag school_classes_path do%>
    <%= text_field_tag :'school_class[title]'%>
    <%= number_field_tag :'school_class[room_number]'%>
    <%= submit_tag "Create School class"%>
<%end%> 